# dependencias
node_modules/

# build
dist/
dist-ssr/
*.local

# archivos temporales de Vite (config compilada al vuelo)
*.timestamp-*.mjs

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cloudflare wrangler temp
.wrangler/
